%h1 Home Static Page

%h2 Welcome home!
%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ligula nisl, ultricies in varius in, varius vitae diam. Phasellus eu nunc ut ipsum congue interdum. Quisque erat diam, faucibus a euismod in, posuere nec lacus. Ut faucibus turpis nunc, non hendrerit massa rutrum sit amet. Sed interdum, neque ac egestas ultricies, metus justo aliquam dui, eu porta ligula nulla eget turpis. Nulla consectetur justo dui, id elementum justo ultricies sit amet. In rutrum metus et orci posuere dignissim. Donec in ultrices metus. 